/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Noto Sans", sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
header, main, .about-container, .menu-container, .reservation-container, .testimonial-containers {
  display: flex;
}

header , .main-socials-container, .menu-cards-container, .menu-container > nav > ul {
  flex-direction: row;
}

.reservation-container, .main-container, .about-container, .menu-container {
  flex-direction: column;
}

header {
  justify-content: space-between;
}

li {
  display: inline-block;
}

h6 {
  display: inline-block;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
