/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 62.50%;
}
body {
  font-family: "Noto Sans", sans-serif;
  padding: 0 10rem;
}


/******************************************
/* LAYOUT
/*******************************************/
header, main, .about-container, .menu-container, .reservation-container, .testimonial-containers, form {
  display: flex;
}

header , .main-socials-container, .menu-cards-container, .menu-container > nav > ul, .hours-of-operation {
  flex-direction: row;
}

.reservation-container, .main-container, .about-container, .menu-container, .menu-card, .reservation-container, .hours-left, .hours-right, .testimonials-container, .testimonial-card-container {
  flex-direction: column;
}

.div-container {
  width: 90%;
  margin: 0 5%;
}


header {
  justify-content: space-between;
  padding: 2rem;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: orange;
}

h3 {
  font-size: 5rem;
  font-weight: 500;
}

h6 {
  display: inline-block;
  font-weight: 100;
}

li {
  display: inline-block;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 300;
  color: inherit;
  text-decoration: inherit;
}

.nav-link:hover {
  text-decoration: underline;
}

header li {
  padding: 0 2rem;
}

main {
  background: #dddddd;
  padding-bottom: 8rem;
}

main li {
  padding-right: 6rem;
}

.main-content {
  width: 50%;
}

form {
  align-items: center;
}

#main-mag {
  position: absolute;
  padding: 1.3rem .8rem; 
  color: gray;
}

main input {
  padding: 1rem 1rem 1rem 3rem;
  width: 75%;
  font-size: 1.8rem;
  border-radius: .7rem 0 0 .7rem;
  border: 1px solid gray;
  border-collapse: collapse;
}

form button {
  color: white;
  background: orange;
  padding: 1.3rem 1.8rem;
  border-radius: 0 .7rem .7rem 0;
  border: 2px solid orange;
}

main a {
  font-size: 2.2rem;
  color: inherit;
  text-decoration: inherit;
}

main i {
  font-size: 1.6rem;
  color: orange;
}

.main-socials:first-of-type{
  padding-left: 0;
}



footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
