/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 62.50%;
}
body {
  font-family: "Noto Sans", sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
header, main, .about-container, .menu-container, .reservation-container, .testimonial-containers {
  display: flex;
}

header , .main-socials-container, .menu-cards-container, .menu-container > nav > ul, .hours-of-operation {
  flex-direction: row;
}

.reservation-container, .main-container, .about-container, .menu-container, .menu-card, .reservation-container, .hours-left, .hours-right, .testimonials-container, .testimonial-card-container {
  flex-direction: column;
}


header {
  justify-content: space-between;
  padding: 2rem;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
}

h2 {
  font-size: 5rem;
  font-weight: 500;
}

h6 {
  display: inline-block;
  font-weight: 100;
}

li {
  display: inline-block;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 300;
  color: inherit;
  text-decoration: inherit;
}

.nav-link:hover {
  text-decoration: underline;
}

header li {
  padding: 0 2rem;
}

main li {
  padding-right: 4rem;
}

main a {
  font-size: 2.2rem;
  color: inherit;
  text-decoration: inherit;
}

main i {
  font-size: 1.6rem;
  color: orange;
}



footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
