/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Playfair Display", serif;
}


/******************************************
/* LAYOUT
/*******************************************/
.site-wrapper, header, nav ul, main, .main-coupon-card, .about-container, .about-card, 
.services-container, .services-left, .staff-container, .staff-card, .news-container, 
.lookbook-container {
  display: flex;
}

header, nav ul, .about-container, .services-container, .staff-container {
  flex-direction: row;
}

.site-wrapper, main, .main-coupon-card, .about-card, .services-left, 
.staff-card, .news-container, .lookbook-container {
  flex-direction: column;
}

header li {
  display: inline-block;
}

header a {
  color: inherit;
  text-decoration: inherit;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
